.ConnectSpotify {
	height: 100%;
	max-width:800px; 
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	
}

button {
	margin-bottom: 20px;
	background-color:purple;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;}

button:hover {
	background-color:darkblue;
}
button:active {
	position:relative;
	top:1px;
}